@{//bloco c#
    ViewData["Title"] = "Sobre";
    ViewData["Message"] = "Breakthrough'Sales App from giovannijanial.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer: @ViewData["Dev"]</p>
<p>Site criado para portifólio no GitHub.</p>
