@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    Giovanni Pinheiro Janial<br />
    Presidente Puudent, SP - Brasil<br />
    <abbr title="Phone">P:</abbr>
    (18) 99665-6886
</address>

<address>
    <strong>Instagram:</strong> <a href="mailto:Support@example.com">giovannijanial</a><br />
    <strong>Dev:</strong> <a href="mailto:giovannijanial@gmail.com">@ViewData["Email"]</a>
</address>
