@model IEnumerable<SalesWebMVC.Models.Seller>

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home/Index.css" />
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="imageIndex col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/banner.png" alt="..." />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Breakthough'Sales</h1>
            <p>Empresa fictícia criada por Giovanni Janial para expor o seu portifólio. Espero que gostem! </p>
            <a class="btn btn-primary" href="#!">Começar Experiencia!</a>
        </div>
    </div>
    <!--Current Text-->
    <hr />
    <div class="our-team">
        <h2 class="font-weight-light">OUR TEAM</h2>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="circle">
                            <img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" alt="card image">
                        </div>
                        <h2 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h2>
                        <p class="card-text">Breve descriçãoBreve descriçãoBreve descriçãoBreve descriçãoBreve descriçãoBreve descrição</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Email)</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" asp-controller="Sellers" asp-action="Details" asp-route-id="@item.Id">Detalhes</a></div>
                </div>
            </div>

        }

    </div>
</div>