@model SalesWebMVC.Models.Department

@{
    ViewData["Title"] = "Apagar Departamento";
}

<h2>@ViewData["Title"]</h2>

<h3>Você tem certeza que deseja apagar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <div class="container dl-horizontal">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index"><button type="button" class="btn btn-warning">Voltar</button></a>
        </form>
        
    </div>

</div>
